.project-current {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  margin: auto;
}

.Project-logo-current {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  border-radius: 50%;
  border: 4px solid #be79df;
}
.Project-title-current {
  color: #be79df;
  font-weight: 700;
  font-family: "Lucida Console", Monaco, monospace;
}
.Project-description-current {
  background-color: #be79df;
  padding-top: 30px;
  padding-bottom: 50px;
}
.Project-description-current p {
  width: 50%;
  font-size: 20px;

  text-align: center;
  margin: auto;
  margin-bottom: 0;
  bottom: 0;
  line-height: 1.6;
  color: #ffffff;
  padding-bottom: 50px;
}
.project-Demo {
  width: 70%;
  border-radius: 28px;
  text-align: center;
  margin: auto;
  box-shadow: 0 3px 8px -2px rgba(20, 20, 20, 1);
}
